*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;

}

body{
	background: white ;
	color: black;
	font-size: 16px;
	font-family: 'Dosis', sans-serif;
}

a{
	color: black;
	text-decoration:none;

}
ul{
	list-style: none;
}

.container{
	width: 100%;
	margin: auto;

}

/* NAVIGATION*/
.nav2{
	background: silver;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 10px 10px;

	

}
.nav2 ul{
	display: flex;
 

}
.nav2 ul li{
	padding: 10px;

}
.nav2 ul li a{
	padding: 2px;
	font-weight: bold;
	color: white;

	}
.nav2 ul.nav3{
	flex: 1;
	margin-left: 1000px;
}
.nav2 ul li a:hover{
	color: black	;
	border-bottom: 2px solid white;
}
.nav-main{
	background: white;
	font-size: 17px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	padding: 20px 0;
	

}
.nav-brand{
	width: 274px;
	

}
/*NAV LEFT*/
.nav-main ul{
	display: flex;

}
.nav-main ul li{
	padding: 10px;
}
.nav-main ul li a{
	padding: 2px;
	font-weight: bold;
}
.nav-main ul li a:hover{
	color: coral	;
	border-bottom: 2px solid white;
}
.nav-main ul.nav-menu{
	flex: 1;
	margin-left: 20px;
}

/*SLIDER*/
 .slider-container{	
 	width: 100%;
 	max-width: 100%;
 	margin: auto;
 	overflow: hidden;
 	box-shadow: 0 0 0 10px #fff,
 				0 15px 50px;
 	position: relative;
 	transform: translateY(11px);
 }
 .slider{
 	display: flex;
 	width: 500%;
 	height: 600px;
 	margin-left: -100%;
 }
 .slider__section{
 	width: 100%;
 }
 .slider__img{
 	display: block;
 	width: 100%;
 	height: 100%;
	/* funcion para no estirar las imagenes object-fit: cover;*/  
}
 .slider__btn{
 	position: absolute;
 	width: 40px;
 	height: 40px;
 	background: rgba(255,255,255,0.5);
 	top: 50%;
 	transform: translateY(-50%);
 	font-size: 30px;
 	font-weight: bold;
 	font-family: monospace;
 	text-align: center;
 	border-radius: 50%;
 	cursor: pointer;
 }
 .slider__btn:hover{
 	background: #fff;
 }
 .slider__btn--left{
 	left: 10px;	
 }
 .slider__btn--right{
 	right: 10px;
 }

 /*SHOWCASE*/
 .showcase{
 	background: #f0f8ff;
 	padding: 100px;
 	text-align: center;
 	text-transform: uppercase;
 	
 }
 .showcase h1{
 	color: #FF7322;
 }
 .showcase p{
 	margin: auto;
 	text-align: center;
 	padding: 10px;
 	font-weight: bold;
 	color: black;
 }

 /*NEWS CARDS*/
 .news-cards{
 	background: #f0f8ff;
 	display: grid;
 	grid-template-columns: repeat(4,1fr);
 	column-gap: 25px;
 }
 .news-cards img{
 	width: 100%;
 	height: 270px;
 	border: solid black 3px;
 	border-radius: 50%;
 }
 .news-cards h3{
 	font-size: 20px;
 	margin: 10px 10px;
 	color:#FF7322;
 }
 .news-cards p{
 	font-weight: bold;
 	margin: 10px 10px;
 	font-size: 17px;
 }
 .news-cards p b{
 color: red;
 }
 .news-cards a{
 	padding: 10px 0;
 	margin: 5px 10px;
 	color: solid black;
 	text-transform: uppercase;
 	display: inline-block;
 	font-weight: bold;
 }
 .news-cards a:hover{
 	text-decoration: underline;
	 color:coral;
 }

 /*SOCIAL*/

 .social{
 	background: #808080;
 	width: 100%;
 	height: 185px;
 	padding: 35px;
 	
 	
 }
 .social p{
 	text-align: center;
 	font-size: 35px;
 	margin-bottom: 20px;
 	font-weight: bold;
 	color: white;
 }
 .links{
 	display: flex;
 	align-items: center;
 	justify-content: center;
 }
 .links a{
 	margin: 3px 10px;
 	align-items: center;
 	color: white;
 }
 .links a i{
 	font-size: 3rem; 	
 	align-items: center;
 }

 /*FOOTER*/
 .footer{
 	padding: 5px;
 	background: #2f3640;
 	color: white;
 	font-size: 15px;
 	padding-top: 20px 0;
 }
 .footer h3{
 	padding: 5px;
 	text-align: center;
 }
 .footer p{
 	padding: 3px;
 }
.term ul{
	display: flex;
	text-transform: uppercase;
}
.term ul li{
	padding: 2px;
}
.term ul li a{
	 color: #FF0000;
}
.term ul li a:hover{
	text-decoration: underline;
	color: white;
}
